<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      {{selectedCell && selectedCell.length ? "Selected Cell : "+selectedCell : "Select Battery Cell"}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu" style="height:200px;">
      <li *ngFor="let cell of batteryList" role="menuitem">
          <a class="dropdown-item" (click)="onCellSelected(cell)">{{cell}}</a>
      </li>
    </ul>
</div>

<div class="card">
  <div class="card-header">
    Voltage Stats: {{selectedCell}}
  </div>
  <div class="card-body">
    <div class="chart-wrapper"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <line-chart id="d3-chart" *ngIf="voltageData" [data]="voltageData" [meta]="chartConfig"></line-chart>
    </div>
  </div>
</div>