:host{
    padding: 10px 0px;
    display: block;
    width: 100%;
    height: 600px;
    path{
        fill: none;
    stroke: #ffab00;
    stroke-width: 3;
    }

    svg{
        fill: none;
    stroke: #ffab00;
    stroke-width: 3;
    }
}

