// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */

@keyframes move {
    to {
        stroke-dashoffset: 0;
      }
  }

#d3-chart{
    line{
        stroke-width: 2px;
    }
    path{
        fill: none;
        &.domain{
            stroke-width: 1.5px;
        }
        &.line{
            stroke-width: 1px;
        }
    }
}

.line {
   // stroke-dasharray: 450;
    //stroke-dashoffset: 450;
    //animation: move 2s linear;
  }
  
