// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */

#d3-chart{
    svg{
        overflow: overlay;
    }
    line{
        stroke-width: 2px;
    }
    path{
        fill: none;
        &.domain{
            stroke-width: 1.5px;
        }
        &.line{
            stroke-width: 1px;
        }
    }
    .y.axis{
        text{
            fill: #000;
            font-size: 11px;
        }
    }
    .overlay {
        fill: none;
        pointer-events: all;
    }

    .focus circle {
        fill: steelblue;
    }

    .focus text {
        font-size: 14px;
    }

    .tool-tip {
        fill: white;
        stroke: #000;
    }
}